In [3]:
julia = ("Julia","ROberts",1967, "Duplicity",2009,"Actress","Atlanta","Georgia")

# both are same
julia = "Julia","Roberts",1967, "Duplicity", 2009, "Actress","Atlanta","Georgia"
print(julia[4])

2009

In [4]:
practice = ('y','h','z','x')

In [5]:
tup1 = ('a','b','c')

In [6]:
def circleInfo(r):
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return (c,a)

print(circleInfo(10))

(62.8318, 314.159)

In [7]:
def circleInfo(r):
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return c,a

print(circleInfo(10))

(62.8318, 314.159)

In [10]:
def circleInfo(r):
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return (c,a)

print(circleInfo(10))

circumference, area = circleInfo(10)
print(circumference)
print(area)


circumference_two, area_two = circleInfo(45)
print(circumference_two)
print(area_two)

(62.8318, 314.159)
62.8318
314.159
282.74309999999997
6361.719749999999

In [13]:
julia = "Julia","Roberts",1967, "Duplicity", 2009, "Actress","Atlanta"

name,surname,birth_year,movie,movie_year,profession,birth_place=julia

name

'Julia'

In [14]:
a,b,c,d = 1,2,3,4

In [15]:
b

2

In [20]:
def add(x, y):
    return x + y

print(add(3,4))
z = (5,4)
print(add(*z))
#print(add(z))

7
9

In [24]:
d = {'k1':3, 'k2': 7, 'k3': "some other value"}

for p in d.items():
    #print(p)
    print("key: {}, value: {}".format(p[0],p[1]))

('k1', 3)
key: k1, value: 3
('k2', 7)
key: k2, value: 7
('k3', 'some other value')
key: k3, value: some other value

In [26]:
x,y = [3,4]
print(x)
print(y)
print(type(x))
print(type(y))

3
4
<class 'int'>
<class 'int'>

In [27]:
a = 1
b = 2
temp = a
a = b
b = temp
print(a, b, temp)

2 1 1

In [29]:
a = 1
b = 2
(a,b) = (b,a)
print(a,b)

2 1

In [30]:
authors = [('Paul', 'Resnick'), ('Brad', 'Miller')]

for first_name, last_name in authors:
    print("first name: ",first_name, "last name:",last_name)

first name:  Paul last name: Resnick
first name:  Brad last name: Miller

In [31]:
fruits = ['apple','pear','orange','mango']
for n in range(len(fruits)):
    print(n, fruits[n])

0 apple
1 pear
2 orange
3 mango

In [33]:
fruits = ['apple','pear','orange','mango']
for item in enumerate(fruits):
    print(item[0],item[1])

0 apple
1 pear
2 orange
3 mango

In [34]:
fruits = ['apple','pear','orange','mango']

for idx, fruit in enumerate(fruits):
    print(idx, fruit)

0 apple
1 pear
2 orange
3 mango