In [13]:
fileconnection = open("olympics.txt","r")

lines = fileconnection.readlines()
for lin in lines[:6]:
    print(lin.strip())

Name,Sex,Age,Team,Event,Medal
A Dijiang,M,24,China,Basketball,NA
A Lamusi,M,23,China,Judo,NA
Gunnar Nielsen Aaby,M,24,Denmark,Football,NA
Edgar Lindenau Aabye,M,34,Denmark/Sweden,Tug-Of-War,Gold
Christine Jacoba Aaftink,F,21,Netherlands,Speed Skating,NA

In [14]:
header = lines[0]
field_names = header.strip().split(",")
print(field_names)
for row in lines[1:]:
    vals = row.strip().split(",")
    if vals[5] != "NA":
        print("{}: {}; {}".format(vals[0],vals[4],vals[5]))

['Name', 'Sex', 'Age', 'Team', 'Event', 'Medal']
Edgar Lindenau Aabye: Tug-Of-War; Gold
Arvo Ossian Aaltonen: Swimming; Bronze
Arvo Ossian Aaltonen: Swimming; Bronze
Juhamatti Tapio Aaltonen: Ice Hockey; Bronze
Paavo Johannes Aaltonen: Gymnastics; Bronze
Paavo Johannes Aaltonen: Gymnastics; Gold
Paavo Johannes Aaltonen: Gymnastics; Gold
Paavo Johannes Aaltonen: Gymnastics; Gold
Paavo Johannes Aaltonen: Gymnastics; Bronze

In [21]:
olympians = [("danish",31,"Cross Country Skiing"),("minhaj",30,"sailing"),
            ("jamshaid",54,"art competition"),("ali",18,"cycling")]

#output the header row
header_row = 'Name,Age,Sport'
print(header_row)
#output each of the rows
for olympian in olympians:
    row_string = '{},{},{}'.format(olympian[0].title(),olympian[1],olympian[2].title())
    print(row_string)

Name,Age,Sport
Danish,31,Cross Country Skiing
Minhaj,30,Sailing
Jamshaid,54,Art Competition
Ali,18,Cycling

In [37]:
# writing data on csv
olympians = [("danish",31,"Cross Country Skiing"),("minhaj",30,"sailing"),
            ("jamshaid",54,"art competition"),("ali",18,"cycling")]

outfile = open("reduced_olympians.csv","w")

# output the header row
outfile.write('"Name","Age","Sport"')
outfile.write("\n")

#output each of the rows
for olympian in olympians:
    # row_string = ",".join([olympian[0].title(),str(olympian[1]),olympian[2].title()])
    row_string = '"{}","{}","{}"'.format(olympian[0].title(),olympian[1],olympian[2].title())
    #row_string = olympian[0] + "," + str(olympian[1]) + "," + olympian[2]
    outfile.write(row_string)
    outfile.write("\n")
outfile.close()